Repository duersjefen/filter-ical: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-tests, frontend-build

.pre-commit-config.yaml:

# =============================================================================
# Pre-commit Configuration - Industry Standard Automated Testing
# =============================================================================
# This automatically runs tests and quality checks BEFORE every commit.
# Install: pip install pre-commit && pre-commit install
# Usage: Automatic on git commit, or manually: pre-commit run --all-files

repos:
  # Clojure/ClojureScript linting
  - repo: https://github.com/clj-kondo/clj-kondo
    rev: v2024.02.12
    hooks:
      - id: clj-kondo
        args: [--lint, backend/src, backend/test, frontend/src]

  # Backend tests
  - repo: local
    hooks:
      - id: backend-tests
        name: Backend Tests
        entry: bash -c 'cd backend && clj -M:test-runner'
        language: system
        files: '^backend/.*\.(clj|cljc|cljs)$'
        pass_filenames: false

  # Frontend compilation check
  - repo: local  
    hooks:
      - id: frontend-build
        name: Frontend Build Check
        entry: bash -c 'cd frontend && npm ci && npm run build'
        language: system
        files: '^frontend/.*\.(cljs|js|json|edn)$'
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: 'package-lock\.json'
      - id: check-merge-conflict
      - id: check-case-conflict

Fix git hook permissions for pre-commit automation
  .githooks/pre-commit
Due: none

Complete workspace cleanup and reusable deployment templates
  .gitignore
  CLAUDE.md
  DEPLOYMENT_TEMPLATE.md
Due: none

Professional documentation structure with full Claude Code automation
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT_TEMPLATE.md
  docs/DEVELOPMENT.md
  docs/TROUBLESHOOTING.md
  scripts/setup-new-project.sh
Due: none

Fix critical UX issues: Add Calendar button and login persistence
  frontend/shadow-cljs.edn
  frontend/src/ical_viewer/core.cljs
  frontend/src/ical_viewer/events.cljs
Due: frontend-build

Fix slow frontend testing: use compile instead of build
  .github/workflows/deploy.yml
Due: none

Test deployment speed after optimization
  frontend/DEPLOY_TEST.md
Due: none

Upgrade to Tailwind CSS v4.1.13 with proper production architecture
  backend/src/app/server.clj
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/resources/js/main.js
  frontend/resources/public/css/app.css
  frontend/resources/public/js/manifest.edn
  frontend/resources/public/public
  frontend/src/ical_viewer/pages.cljs
  frontend/src/input.css
Due: backend-tests, frontend-build

Fix production CSS: Switch from CDN to local Tailwind v4.1.13
  frontend/resources/public/index.html
Due: none

Improve CI/CD: Add CSS configuration validation
  .github/workflows/deploy.yml
Due: none

Improve CI/CD: Add general resource accessibility validation
  .github/workflows/deploy.yml
Due: none

Fix loading events functionality and error display
  frontend/src/ical_viewer/events.cljs
  frontend/src/ical_viewer/pages.cljs
Due: frontend-build

Implement truly language-independent CI/CD pipeline
  .githooks/pre-commit
  .github/workflows/deploy.yml
  Makefile
  backend/requirements.txt
Due: none

Clean up legacy Clojure development files
  .claude/settings.local.json
  .pre-commit-config.yaml
  docker-compose.dev.yml
Due: none

Add comprehensive testing framework and fix critical deployment issues
  .claude/settings.local.json
  Makefile
  backend/requirements.txt
  backend/tests/test_api_endpoints.py
  backend/tests/test_calendar_processing.py
  frontend/package.json
  frontend/tests/App.test.js
  frontend/tests/setup.js
  frontend/tests/stores/app.test.js
  frontend/vitest.config.js
Due: frontend-build

Implement professional TDD workflow with test categorization
  .claude/settings.local.json
  Makefile
  backend/pytest.ini
  backend/tests/test_api_endpoints.py
  backend/tests/test_calendar_processing.py
  backend/tests/test_main.py
Due: none

Create dual CLAUDE.md system for project-specific and template use
  CLAUDE.md
  CLAUDE_TEMPLATE.md
Due: none

Fix critical CI/CD issue: Run only unit tests in Docker test stage
  backend/Dockerfile
Due: none

Improve deployment monitoring with automatic run ID detection
  .claude/settings.local.json
  CLAUDE.md
  Makefile
Due: none

Fix critical Docker test command causing CI/CD failures
  Makefile
Due: none

Fix critical frontend Docker build failing in production deployment
  .claude/settings.local.json
  frontend/Dockerfile
Due: none

Fix critical package-lock.json sync issue blocking production deployment
  frontend/package-lock.json
Due: frontend-build

Add comprehensive CI/CD safeguards to prevent future deployment issues
  .githooks/pre-commit
  .github/workflows/deploy.yml
  CLAUDE.md
Due: none

🎯 MAJOR CLEANUP: Replace complex Makefile with clean, focused template
  .claude/settings.local.json
  .githooks/pre-commit
  Makefile
Due: none

Implement comprehensive filtering system with backend persistence
  .claude/settings.local.json
  FILTERING_PLAN.md
  Makefile
  TODO.md
  backend/app/main.py
  backend/data/store.pkl
  backend/requirements.txt
  backend/tests/test_integration.py
  backend/tests/test_persistence.py
  backend/tests/test_user_flow.py
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright-report/data/8bb05fbe20a1a625216fc7acfa6c0fe06ab5844f.md
  frontend/playwright-report/index.html
  frontend/playwright.config.js
  frontend/public/vite.svg
  frontend/src/stores/app.js
  frontend/src/views/CalendarView.vue
  frontend/tests/e2e/login.spec.js
  frontend/tests/e2e/quick-smoke.spec.js
  frontend/tests/e2e/simple.spec.js
Due: frontend-build

🚀 MAJOR UI/UX OVERHAUL: Transform to category-based filtering with premium interface
  .claude/settings.local.json
  backend/app/main.py
  backend/data/store.pkl
  frontend/src/stores/app.js
  frontend/src/views/CalendarView.vue
Due: frontend-build

🎯 Fix time display, dropdown UI, and multi-day events
  .claude/settings.local.json
  TODO.md
  backend/app/main.py
  backend/data/store.pkl
  backend/tests/test_new_functionality.py
  frontend/src/views/CalendarView.vue
  frontend/src/views/LoginView.vue
Due: none

Update cache after event processing changes
  backend/data/store.pkl
Due: none

🔧 Complete component architecture overhaul and data cleanup
  .claude/settings.local.json
  .env.example
  .gitignore
  FILTERING_PLAN.md
  TODO.md
  backend/app/main.py
  backend/data/store.pkl
  backend/pytest.ini
  backend/tests/fixtures.py
  backend/tests/test_persistence.py
  backend/tests/test_url_validation.py
  frontend/public/vite.svg
  frontend/src/components/calendar/CategoryCardsSection.vue
  frontend/src/components/calendar/HeaderSection.vue
  frontend/src/components/calendar/PreviewEventsSection.vue
  frontend/src/components/calendar/StatisticsSection.vue
  frontend/src/components/calendar/index.js
  frontend/src/components/common/ErrorBoundary.vue
  frontend/src/components/common/LoadingSpinner.vue
  frontend/src/components/common/index.js
  frontend/src/composables/useCalendar.js
  frontend/src/constants/api.js
  frontend/src/constants/ui.js
  frontend/src/stores/app.js
  frontend/src/styles/calendar-view.css
  frontend/src/utils/errorHandler.js
  frontend/src/utils/loadingStates.js
  frontend/src/views/CalendarView-old.vue
  frontend/src/views/CalendarView.vue
Due: frontend-build

🎨 Transform dropdown buttons to oval shape for improved UX
  frontend/src/components/calendar/CategoryCardsSection.vue
  frontend/src/components/calendar/HeaderSection.vue
  frontend/src/components/calendar/PreviewEventsSection.vue
  frontend/src/components/calendar/StatisticsSection.vue
Due: none

🚀 Complete UI/UX overhaul with Tailwind v4 migration
  .gitignore
  CLAUDE.md
  backend/data/store.pkl
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/shared/AppHeader.vue
  frontend/src/composables/useCalendar.js
  frontend/src/main.js
  frontend/src/styles/tailwind.css
  frontend/src/views/CalendarView-old.vue
  frontend/src/views/CalendarView.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/LoginView.vue
  frontend/tailwind.config.js
  frontend/vite.config.mjs
Due: frontend-build

🎯 Major UX improvements: collapsible sections and smart filtering
  TODO.md
  frontend/src/components/calendar/CategoryCardsSection.vue
  frontend/src/components/calendar/PreviewEventsSection.vue
  frontend/src/components/calendar/StatisticsSection.vue
  frontend/src/composables/useCalendar.js
  frontend/src/views/CalendarView.vue
Due: frontend-build

🌙 Implement comprehensive dark mode with professional toggle
  CLAUDE.md
  TODO.md
  frontend/src/App.vue
  frontend/src/components/calendar/CategoryCardsSection.vue
  frontend/src/components/calendar/HeaderSection.vue
  frontend/src/components/calendar/PreviewEventsSection.vue
  frontend/src/components/shared/AppHeader.vue
  frontend/src/composables/useDarkMode.js
  frontend/src/styles/tailwind.css
  frontend/src/views/CalendarView.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/LoginView.vue
Due: frontend-build

🌍 Implement complete multi-language support (English/German)
  CLAUDE.md
  TODO.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/LanguageToggle.vue
  frontend/src/components/calendar/CategoryCardsSection.vue
  frontend/src/components/calendar/HeaderSection.vue
  frontend/src/components/calendar/PreviewEventsSection.vue
  frontend/src/components/shared/AppHeader.vue
  frontend/src/i18n/index.js
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
  frontend/src/main.js
  frontend/src/views/CalendarView.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/LoginView.vue
Due: frontend-build

🔧 Fix deployment validation and implement automatic rollback
  .github/workflows/deploy.yml
  frontend/tests/App.test.js
  frontend/tests/stores/app.test.js
  frontend/vitest.config.js
Due: frontend-build

📝 Update project documentation and todos
  Makefile
  TODO.md
Due: none

🚀 Complete CI/CD robustness overhaul with enterprise-grade features
  .github/workflows/deploy.yml
  CLAUDE.md
Due: none

🚀 Implement functional CI/CD architecture with zero hardcoded values
  .github/config/deployment-overrides.conf
  .github/scripts/auto-config.sh
  .github/scripts/config-driven-deploy.sh
  .github/scripts/detect-changes.sh
  .github/workflows/deploy.yml
  DEPLOYMENT_ARCHITECTURE_COMPARISON.md
  FINAL_CI_CD_ARCHITECTURE.md
Due: none

📁 Clean up documentation organization
  .github/scripts/detect-changes.sh
  docs/DEPLOYMENT_ARCHITECTURE_COMPARISON.md
  docs/FINAL_CI_CD_ARCHITECTURE.md
Due: none
